<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://192.168.1.181:5432/testdb?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">testuser</property>
        <property name="connection.password">1</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Models.Cathedra"></mapping>
        <mapping class ="Models.Faculty"></mapping>
        <mapping class ="Models.Groupe"></mapping>
        <mapping class ="Models.Student"></mapping>
        <mapping class ="Models.Subject"></mapping>
        <mapping class="Models.Teacher"></mapping>
        <mapping class="Models.Session_report"></mapping>

    </session-factory>
</hibernate-configuration>